<!DOCTYPE html>
<html>
{%load static %}
{%include "admin/adminsidebar.html" %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div> -->
        <!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">

        <!-- ./col -->
        <div class="col-lg-1 col-1"></div>
        <!-- ./col -->

        <!-- ./col -->
        <div class="col-lg-4 col-4">
          <!-- small box -->
          <div class="small-box bg-danger" id="box">
            <div class="inner">
              <h3>Add Services</h3>

              <p>Services</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{%url 'addService'  %}" class="small-box-footer">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-2"></div>
        <div class="col-lg-4 col-4">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">

              <h3>View Services</h3>
              <p>View all the services</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{%url 'updateService' %}" class="small-box-footer">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-1 col-1"></div>
        <!-- ./col -->
      </div><br><br>
      <div class="row">
        <div class="col-lg-1 col-1"></div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-4 col-4">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>Latest Order</h3>

              <p>Latest Orders by users</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-2"></div>
        <div class="col-lg-4 col-4">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>Users</h3>

              <p>View all users</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="col-lg-1 col-1"></div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

</html>